html
	link(rel='stylesheet', href='main.css')
	body
		h1 PreDisease
		.info
			
		form(method='POST' action='/upload')
			h1 Input the data below:
			.contentform 
				.leftcontact
					.form-group
						p
							| Age
							span *
						span.icon-case
							i.fa.fa-male
						input(type="text", name="age", data-rule="required")
						.validation
					.form-group
						p
							| Gender 
							span *
						span.icon-case
							i.fa.fa-user
						input(type="text", name="gender", data-rule="required")
						.validation
					.form-group
						p
							| Total Bilirubin 
							span *
						span.icon-case
							i.fa.fa-envelope-o
						input(type="text", name="tot_bil")
						.validation
					.form-group
						p
							| Direct Bilirubin
							span *
						span.icon-case
							i.fa.fa-home
						input(type="text", name="dir_bil", data-rule="required")
						.validation
					.form-group
						p
							| Phosphotase 
							span *
						span.icon-case
							i.fa.fa-location-arrow
						input(type="text", name="phos", data-rule="required")
						.validation
				.rightcontact
					.form-group
						p
							| Alamine Aminotransferase 
							span *
						span.icon-case
							i.fa.fa-map-marker
						input(type="text", name="ala_amin", data-rule="required")
						.validation
					.form-group
						p
							| Aspartate Aminotransferase
							span *
						span.icon-case
							i.fa.fa-building-o
						input(type="text", name="asp_amin", data-rule="required")
						.validation
					.form-group
						p
							| Total Protiens 
							span *
						span.icon-case
							i.fa.fa-phone
						input(type="text", name="tot_prot", data-rule="maxlen:10")
						.validation
					.form-group
						p
							| Albumin 
							span *
						span.icon-case
							i.fa.fa-info
						input(type="text", name="alb", data-rule="required")
						.validation
					.form-group
						p
							| Albumin and Globulin Ratio 
							span *
						span.icon-case
							i.fa.fa-comment-o
						input(type="text", name="alb_glob_rat", data-rule="required")
						.validation
					.form-group
			button.bouton-contact(type="submit") Get your diagnose
